.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content : space-between;
  background-color: #282c34;
  color: azure;
  padding: 35px 25px;
  height: 10vh;
  font-family: Inter;
  align-items: center ;
}

nav>h1{
  font-weight: 800;
}

nav>img{
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.maincontent{
  padding: 35px 20px;
  background-color: black;
  color: #61dafb;
  font-size: 30px;

}

.maincontent>ul>li{
  padding-top: 10px;
  max-width: 400px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
